@font-face {
  font-weight: 700;
  font-family: "Gilroy ExtraBold";
  font-style: normal;
  src: url(../fonts/gilroyextrabold.woff) format("woff"),
       url(../fonts/gilroyextrabold.woff2) format("woff2")
 }

 @font-face {
  font-weight: lighter;
  font-family: "Gilroy Light";
  font-style: normal;
  src: url(../fonts/gilroylight.woff) format("woff"),
       url(../fonts/gilroylight.woff2) format("woff2")
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src: url(../fonts/opensans.woff) format("woff"),
       url(../fonts/opensans.woff2) format("woff2")
}

@font-face {
  font-weight: lighter;
  font-family: "Open Sans Light";
  font-style: normal;
  src: url(../fonts/opensanslight.woff) format("woff"),
       url(../fonts/opensanslight.woff2) format("woff2")
}

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 30px;
  color: black;
  font-weight: normal;
  overflow-x: hidden;
  font-family: "Open Sans Light", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.main-header {
  margin: 0 auto;
  width: 1160px;
  background-color: #f7e296;
}

.main-header-container {
  padding-left: 60px;
  padding-top: 33px;
  padding-bottom: 162px;
  margin-top: 40px;
}

.main-header-container-inner {
  padding-left: 60px;
  padding-top: 33px;
  padding-bottom: 49px;
  margin-top: 40px;
}

.main-header-logo {
  position: absolute;
  margin-top: -58px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-header-logo[href]:hover {
  opacity: 0.6;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 26px;
}

.search-form {
  width: 440px;
  margin-right: 100px;
  background: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0.3% 50%;
}

.search-form-input {
  font: inherit;
  height: 48px;
  width: 355px;
  padding-left: 40px;
  color: #000000;
  background-color: #f7e296;
  color: black;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  opacity: 0.3;
  outline: none;
}

.search-form-input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-input:focus {
  background: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0.3% 50%;
  border-bottom: 2px solid #000000;
  opacity: 1;
}

.search-form-button {
  visibility: hidden;
  margin-left: -4px;
  font-size: 15px;
  padding: 13px 19px 12px 19px;
  background-color: #f7e296;
  border: 2px solid #000000;
}

.search-form-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-form-button:active {
  visibility: visible;
  color: rgba(255,255,255,.3);
}

.search-form-input:focus + .search-form-button {
  visibility: visible;
}

.right-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 500px;
}

.user-navigation li {
  position: relative;
  padding-left: 27px;
  color: #000000;
  font: inherit;
  text-decoration: none;
}

.user-navigation .log-out {
  padding-right: 20px;
}

.user-navigation a {
  color: #000000;
  font: inherit;
  text-decoration: none;
}

.user-navigation .login-link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.user-navigation .login-link-in {
  margin-right: 20px;
}

.user-navigation .сompare {
  margin-right: 37px;
  margin-left: 40px;
}

.user-navigation .login-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .login-link-in::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .сompare::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 8px;
  width: 13px;
  height: 12px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .cart::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 4px;
  width: 13px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .login-link:hover,
.user-navigation .login-link-in:hover,
.user-navigation .сompare:hover,
.user-navigation .cart:hover {
  opacity:0.6;
}

.user-navigation .login-link:active,
.user-navigation .login-link-in:active,
.user-navigation .сompare:active,
.user-navigation .cart:active {
  opacity:0.3;
}

.user-navigation .log-out {
  padding: 0;
  margin-right: 20px;
}

.log-out {
  opacity:0.3;
}

/* site navigation header */

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.20em;
}

.site-navigation a {
  color: #000000;
  text-decoration: none;
}

.site-catalog {
  width: 540px;
}

.all-catalog-links {
  position: relative;
  padding-right: 32px;
}

.all-catalog-links::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.catalog-links {
  position: absolute;
  display: none;
  width: 1160px;
  height: 162px;
  margin-left: -60px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  list-style: none;
  font-size: 15px;
  text-transform: none;
  letter-spacing: 0;
  background-color: #f7e184;
  z-index: 2;
}

.all-catalog-links:hover + .catalog-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-links-column {
  padding: 0;
  padding-top: 26px;
  margin: 0;
  list-style: none;
}

.catalog-links-column:first-child {
  padding-left: 60px;
  padding-right: 58px;
}

.catalog-links-column:nth-child(2) {
  padding-right: 70px;
}

.site-navigation-link:hover,
.catalog-link:hover {
  opacity:0.6;
}

.site-navigation-link:hover,
.catalog-link:hover {
  opacity:0.6;
}

.site-navigation-link:active,
.catalog-link:active {
  opacity:0.3;
}

.nav-delivery {
  margin-right: 35px;
}

.nav-guarantee {
  margin-right: 107px;
}

/* sliders */

.sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 420px;
  position: relative;
  margin: -34px auto 115px;
}

.slider-line {
  position: absolute;
  top: -134px;
  left: 600px;
  margin-top: 92px;
  width: 80px;
  height: 7px;
  background-color: #ffffff;
}

.slider-number {
  position: absolute;
  right: 55px;
  top: -91px;
  margin: 0;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 180px;
  line-height: 180px;
  color: white;
}

.slider-images {
  margin-top: -78px;
  padding-left: 90px;
}

.slider-1 img {
  padding-left: 90px;
}

.slider-2 img {
  padding-left: 116px;
  margin-top: -66px;
}

.slider-3 img {
  margin-top: -13px;
  padding-left: 31px;
}

.slider-description h2 {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  margin: 0;
  margin-bottom: 20px;
  z-index: 1;
}

.slider-description-text {
  margin-bottom: 42px;

}

.slider-description-text p {
  margin: 0px;
}

.slider-description {
  width: 500px;
  margin-right: 60px;
  z-index: 1;
}

.slider-1,
.slider-2,
.slider-3 {
  display: none;
}

.sliders > input[type="radio"] {
  display: none;
}

.slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 65px;
  top: 248px;
  z-index: 2;
}

.slider-controls label {
  display:inline-block;
  margin-right: 20px;
  width: 12px;
  height: 12px;
  background-image: url("../img/slider-button-empty.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

#btn-1:checked ~ .slider-1,
#btn-2:checked ~ .slider-2,
#btn-3:checked ~ .slider-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  display:inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../img/slider-button.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-btn {
  margin-bottom: 56px;
}

.slider-feature-value {
  font-family: "Gilroy Light";
  font-size: 36px;
}

.slider-feature-value td {
  padding-bottom: 8px;
}

.slider-feature-type {
  font-size: 13px;
}

.slider-features td {
  width: 160px;
}

.btn {
  display: inline-block;
  position: relative;
  font-size: 18px;
  line-height: 18px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  padding: 11px 46px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  top: 50%;
  left: 0;
  z-index: -1;
  background-color: #f0c52e;
}

.btn:hover {
  background-color: #f0c52e;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* popular */

.popular {
  width: 1160px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 165px;
}

.popular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}

.popular-link {
  width: 160px;
	vertical-align: top;
}

.popuar-url {
  display: block;
  position: relative;
  font-size: 18px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  color: #000000;
  line-height: 21px;
  padding-top: 195px;
	text-decoration: none;
}

.popuar-url img {
  display: inline-block;
	position: absolute;
  vertical-align: top;
  top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
}

.popuar-url::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	margin-bottom: 35px;
	content: '';
	background-color: #f7e296;
}

.popular-link:nth-child(1) img {
	top: 52px;
}
.popular-link:nth-child(2) img {
	top: 43px;
}
.popular-link:nth-child(3) img {
	top: 38px;
	left: 10px;
}
.popular-link:nth-child(4) img {
	top: 50px;
	left: 4px;
}
.popular-link:nth-child(5) img {
	top: 32px;
	left: 6px;
}
.popular-link:nth-child(6) img {
	top: 49px;
}

.popuar-url:hover::before {
	background-color: #ffc600;
}

.popuar-url:active {
	color: rgba(0, 0, 0, 0.3);
}

.popuar-url:active img {
	opacity: 0.3;
}

/* service */

.services-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
  margin-bottom: 205px;
}

.services-tabs::before {
  content: "";
  position: absolute;
  top: 18px;
  width: 10000px;
  left: -2500px;
  height: 288px;
  z-index: -1;
  background-color: #e5e5e5;
}

.tabs-controls {
  list-style: none;
  width: 280px;
  margin: 0;
  padding: 0;
}

.tab-control {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 18px;
  width: 160px;
  height: 40px;
  margin-bottom: 25px;
  border: none;
  background-color: inherit;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.tab-active {
  width: 280px;
  padding-right: 118px;
  color: #f7e296;
  background: black;
}

.tab-control::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.tab-control:hover {
    background: #ffc600;
}

.tab-control:active {
  width: 280px;
  padding-right: 118px;
  color: #f7e184;
  background: black;
}

.tabs-container {
  position: relative;
}

.tabs-controls::after {
  content: "";
  position: absolute;
  top: -80px;
  right: -4px;
  display: block;
  width: 7px;
  height: 319px;
  background-color: black;
}

.tabs-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 115px;
  width: 880px;
}

.tab-content {
  margin-top: -48px;
}

.tab-delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 562px 33px;
}

.tab-warranty {
  display: none;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 562px 33px;
}

.tab-credit {
  display: none;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 562px 33px;
}

.tab-content p {
  width: 425px;
}

.tab-content h2 {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 35px;
}

/* brands */

.brands {
  width: 1160px;
  margin: 0 auto 100px;
  padding: 0;

}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-left: 0px;
}

.brands-list a {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.2;
}

.brands-list a:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}

.brands-list a:focus {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
  outline: none;
}

/* about contact */

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1160px;
  margin: 0 auto 75px;
  padding: 0;
}

.about-us {
  width: 475px;
}

.about-us p,
.contacts p {
  margin-bottom: 30px;
  padding: 0;
}

.contacts {
  width: 560px;
}

.contacts img {
  margin-bottom: 29px;
}

.about-us h2,
.contacts h2 {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
}

.about-us ul {
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  line-height: 40px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 65px;
  margin-bottom: 45px;
  color: #000000;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
}

.about-us li::before {
  content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 25px;
	border: 3px solid #000;
	border-radius: 50%;
}

.about-us li::before {
    top: 50%;
    width: 4px;
    height: 4px;
    border: 3px solid #b2b2b2;
    border-radius: 50%;
}

/* inner */

.container {
  width: 1160px;
  margin: 0 auto;
}

.breadcrumbs-container {
  width: 1160px;
  margin: 0 auto;
}

.page-title {
  margin-top: 45px;
  margin-left: 65px;
  font-size: 47px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-left: 65px;
  margin-bottom: 53px;
  font-size: 14px;
  list-style: none;
  color: #000000;
}

.breadcrumbs-current {
  opacity: 0.3;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs li {
  position: relative;
  padding-right: 39px;
}

.breadcrumbs li:not(:last-child):after {
  content: "";
  position: absolute;
  top: 40%;
  right: 15px;
  width: 7px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  margin: 0 auto;
  padding-left: 60px;
}

.sidebar  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;

}
.sidebar::before {
  content: "";
  position: absolute;
  top: 73px;
  bottom: 0;
  width: 2000px;
  height: 3000px;
  left: -1722px;
  z-index: -1;
  background-color: #eeeeee;
}

.sidebar h2 {
  display: block;
  position: relative;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 23px;
  margin-bottom: 69px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #dbdbdb;
}

.sidebar h2::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 2000px;
  height: 73px;
  left: -1722px;
  z-index: -1;
  background-color: #dbdbdb;
}

.form-legend {
  width: 200px;
  margin-bottom: 18px;
  padding-top: 12px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  border-top: 2px solid #000000;
}

.range-controls {
  position: relative;
  width: 200px;
  margin-top: 20px;
}

.range-controls .toggle {
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.range-controls .toggle:active {
  -webkit-transform:scale(1.1);
      -ms-transform:scale(1.1);
          transform:scale(1.1);
}

.range-controls .scale {
  height: 2px;
  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 112px;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle-min {
  left: -2px;
}

.range-controls .toggle-max {
  left: 110px;
}

.selected-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 144px;
  margin-top: 10px;
  margin-bottom: 35px;
  margin-left: 4px;
  font-family: "Gilroy Light";
  font-size: 14px;
  line-height: 22px;
  opacity: 0.2;
}

.selected-price-input {
  border: none;
  width: 70px;
  padding-left: 4px;
  background-color: #eeeeee;
}

.filters-form fieldset {
  border: none;
  padding: 0;
}

fieldset .filters-name {
  width: 200px;
  padding-top: 12px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  border-top: 2px solid #000000;
}

.filter-options {
  padding: 0;
  list-style: none;
}

.filter-input {
    display: none;
}

.filter-options label {
  display: block;
  position: relative;
  padding-left: 40px;
  font-size: 14px;
  line-height: 40px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  cursor: pointer;
}

.filter-input:checked + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.filter-options li:last-child {
  margin-bottom: 33px;
}

.filter-price {
  padding: 0;
  border: none;
}

.filter-price {
  min-height: 110px;
}

.filters-name {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  padding: 0;
}

.filters-radio {
  display: none;
}

.bluetooth-list {
  list-style: none;
  padding: 0;
  margin-bottom: 27px;
}

.bluetooth-list li {
  position: relative;
  padding-left: 40px;
  padding-bottom: 11px;
}

.bluetooth-list label {
  cursor: pointer;
}

.bluetooth-list label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.filters-radio:checked + label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.filter-accept {
  padding: 0;
  width: 200px;
  height: 40px;
  border: none;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  color: #000000;
  background-color: #eeeeee;
  letter-spacing: 0.15em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  cursor: pointer;
}

.filter-accept:hover {
  background-color: #f0c52e;
}

.filter-accept:active {
  color: rgba(0, 0, 0, 0.3);
}

.content {
  width: 760px;
  margin-left: 136px;
}

.filters-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  background-color: #ebebeb;
  padding-top: 5px;
  padding-bottom: 6px;
}

.filters-sort::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 2000px;
  height: 73px;
  left: -62px;
  z-index: -1;
  background-color: #ebebeb;
}

.filters-sort h2 {
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters-up-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 41px;
}

.btn-up {
  opacity: 0.2;
}

.btn-up:hover {
  opacity: 0.4;
}

.btn-up:active {
  opacity: 1;
}

.filters-type {
  margin-left: 10px;
  margin-right: 202px;
}

.filters-type ul {
  list-style: none;
}

.filters-type li {
  padding-right: 25px;
  display: inline;
}

.filters-type a {
  font-family: "Open Sans Light", "Arial", sans-serif;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.3;
}

.filters-type .current {
  opacity: 1;
}

.filters-type a:hover {
  opacity: 0.6;
}

.filters-type a:active {
  opacity: 1;
}


.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 69px;
}

.product-item h3 {
  padding: 0;
  margin: 0;
}

.new::after {
  content: "NEW";
  position: absolute;
  top: 29px;
  right: 27px;
  width: 30px;
  height: 16px;
  padding: 20px 13px;
  font-size: 14px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  line-height: 16px;
  color: rgba(0,0,0,0.2);
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 50%;
}

.product-thumbnail {
  padding: 0;
  width: 360px;
  height: 380px;
}

.product-item {
  position: relative;
  width: 360px;
  margin-bottom: 43px;
}

.product-thumbnail:hover .item-buy {
  display:block;
}

.item-buy {
  display: none;
  position: absolute;
  width: 300px;
  top: 170px;
  left: 80px;
  z-index: 1;
  width: 212px;
}

.item-buy::before {
  content: "";
  position: absolute;
  top: -170px;
  left: -80px;
  z-index: -1;
  width: 360px;
  height: 380px;
  background-color: rgba(238,238,238,0.7);
}

.compare {
  display: block;
  font-family: "Open Sans Light", "Arial", sans-serif;
  color: #000000;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  opacity: 0.5;
}

.compare:hover {
  opacity: 1;
}

.compare:active {
  opacity: 0.2;
}

.item-name {
  font-size: 18px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  text-decoration: none;
  color: #000000;
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.product-content span {
  font-family: "Gilroy Light";
  font-size: 16px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  height: 70px;
  padding: 0;
  line-height: 16px;
  list-style: none;
  background-color: #ebebeb;
}

.pagination-list li {
  text-decoration: none;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  color: #000000;
  margin-top: 28px;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.pagination-page {
  padding-right: 30px;
  opacity: 0.3;
}

.current {
  opacity: 1;
}

.pagination-back {
  padding: 25px 27px 24px 30px;
  margin-right: 210px;
}

.pagination-next {
  padding: 25px 27px 24px 30px;
  margin-left: 168px;
}

.pagination-back:hover,
.pagination-next:hover {
  background-color: #d9d9d9;
}

.pagination-back:active,
.pagination-next:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-page:hover {
  opacity: 0.6;
}

.pagination-page:active {
  opacity: 1;
}

.pagination-list a {
  text-decoration: none;
  color: #000000;
}

/* footer */

.main-footer {
  background-color: #464646;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 65px;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-center {
  width: 426px;
}

.footer-right {
  width: 300px;
}

.footer-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-bottom: 60px;
  width: 300px;
}

.footer-user-navigation a {
  position: relative;
  padding-left: 27px;
}

.footer-user-navigation .login-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-user-navigation .сompare::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  width: 13px;
  height: 12px;
  background-image: url("../img/compare2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-user-navigation .cart::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 13px;
  height: 12px;
  background-image: url("../img/cart2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-logo {
  font-size: 48px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  color: #ffc600;
  line-height: 48px;
  margin-bottom: 57px;
}

.address {
  line-height: 0;
  padding: 0;
  margin: 0;
  margin-right: 160px;
}

.footer-decorate {
  margin-top: 92px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  width: 432px;
  padding: 0;
  margin-top: 90px;
}

.footer-navigation-link {
  margin-right: 35px;
}

.footer-navigation-link:last-child {
  margin-right: 0px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-wrap: wrap;
  margin-top: 65px;
  padding: 0;
}

.social-btn {
    margin-right: 25px;
}

.footer-logo:hover,
.footer-navigation-link:hover {
  opacity: 0.6;
}

.footer-logo:active,
.footer-navigation-link:active {
  opacity: 0.3;
}

.address {
  font-size: 15px;
  color: #ffffff;
  font-style: normal;
}

.footer-navigation-link {
  list-style: none;
}

.footer-navigation-links a {
  list-style: none;
  text-decoration: none;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social {
  list-style: none;
}

.social-btn {
    display: inline-block;
    width: 33px;
    height: 33px;
    font-size: 0;
    opacity: 0.3;
    background-repeat: no-repeat;
}

.footer-social-fb {
  background-image: url(../img/fb.svg);
}

.footer-social-in {
  background-image: url(../img/in.png);
}

.footer-social-twitter {
  background-image: url(../img/twitter.svg);
}

.social-btn:hover {
  opacity: 0.6;
}

.social-btn:active {
  opacity: 0.1;
}

.footer-social-in {
  opacity: 0.6;
}

.footer-social-in:hover {
  opacity: 0.9;
}

.footer-social-in:active {
  opacity: 0.1;
}

.footer-user-navigation {
  list-style: none;
}

.footer-user-navigation a {
  color: #ffffff;
  font: inherit;
  text-decoration: none;
}

.footer-user {
  opacity: 0.7;
}

.footer-user:hover {
  opacity: 1;
}

.footer-user:active {
  opacity: 0.3;
}

.phone {
  padding: 0;
  margin: 0;
  margin-bottom: 72px;
  text-align: right;
}

.copyright {
  float: right;
  padding: 0;
  margin: 0;
}

.phone a {
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}

.copyright a:hover {
  opacity: 0.6;
}

.copyright a:active {
  opacity: 0.3;
}

.modal-write-us {
  display: none;
  position: relative;
  width: 960px;
  margin: 0 auto;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.form-write-us-name,
.form-write-us-email {
  display: inline-block;
  vertical-align: baseline;
  width: 360px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
}

.form-write-us-email {
  margin-left: 36px;
}

.form-write-us input[type=text] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  padding: 12px 20px;
  margin-top: 4px;
  margin-bottom: 30px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(230, 230, 230, 0.5);
  border: 3px solid rgba(230, 230, 230, 0);
  outline: none;
}

.form-write-us-letter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
}

.form-write-us-letter textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 760px;
  height: 156px;
  min-height: 206px;
  padding: 12px 20px;
  margin-top: 4px;
  margin-bottom: 37px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
  border: 3px solid rgba(230, 230, 230, 0);
  outline: none;
  resize: vertical;
}

.form-write-us input[type=text]:hover,
.form-write-us-letter textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.form-write-us input[type=text]:focus,
.form-write-us-letter textarea:focus {
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  border: 3px solid #f7e296;
}

.send-btn {
  padding: 11px 34px 11px 34px;
  border: none;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  background-color: #ffffff;
  color: #000000;
  letter-spacing: 0.20em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  cursor: pointer;
}

.send-btn:hover {
  background-color: #f0c52e;
}

.modal-close {
  position: absolute;
  top: 2px;
  right: 18px;
  width: 60px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
  cursor: pointer;
}

.modal-close:hover,
.map-close:hover {
  opacity: 1;
}

.modal-close:active,
.map-close:active {
  opacity: 0.3;
}

.map {
  display: none;
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 559px;
  background-image: url("../img/map-big.jpg");
  background-color: #ffffff;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.map-close {
  position: absolute;
  top: 22px;
  right: 18px;
  width: 60px;
  height: 60px;
  border: none;
  background-image: url("../img/modal-close.svg");
  background-color: rgba(0, 0, 0, 0.0);
  background-repeat: no-repeat;
  opacity: 0.5;
  cursor: pointer;
}
